@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;500;600&display=swap");

:root {
  --font-primary: "Libre Baskerville", serif;
  --font-secondary: "Poppins", sans-serif;
  --color-primary: #292929;
  --shadow-primary: #1f1f1f;
  --color-secondary: #cba164;
  --color-typo: #f8f8f8;
  --hover-brightness: 0.8;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid aqua; */
}

/* #region /**======= Component ====*/
button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}

.btn__primary {
  padding: 0.25rem 1.25rem;

  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 0.25rem;

  transition: filter 0.2s ease-out;
}

.btn__primary:hover {
  filter: brightness(var(--hover-brightness));
}

.btn__outline {
  padding: 0.25rem 1.25rem;

  border: 1px solid var(--color-typo);
  border-radius: 0.25rem;

  transition: color 0.2s ease-out, border 0.2s ease-out;
}

.btn__outline:hover {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* #endregion /**==== Component ====*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--font-secondary);
  background-color: var(--color-primary);
  color: var(--color-typo);
}

nav {
  width: 100%;
  position: fixed;
  padding: 1rem 4rem;
  z-index: 50;

  display: flex;
  justify-content: space-between;

  backdrop-filter: blur(2rem);
}

.nav__logo {
  font-weight: 600;
  font-size: xx-large;
  color: var(--color-secondary);
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__link {
  transition: color 0.2s ease-out;
}

.nav__link:hover {
  color: var(--color-secondary);
}

main {
  width: 100%;
  max-width: 1920px;
  padding: 0 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__contents {
  max-width: 36rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.home__contents > h1 {
  font-family: var(--font-primary);
  font-size: 4rem;
  color: var(--color-secondary);
}

.home__img {
  width: 30%;
  height: 80%;
  align-self: flex-end;
}

.about {
  position: relative;
  width: 100%;
  padding-top: 8rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.about__accent {
  position: absolute;
  left: -2rem;
  top: 6rem;
  width: 35%;
  height: 75%;
  z-index: 0;

  background-color: var(--color-secondary);
}

.about__img {
  width: 40%;
  z-index: 10;
}

.about__contents {
  max-width: 36rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.about__contents > h3 {
  font-family: var(--font-primary);
  font-size: 1.5rem;
}

.about__contents > h2 {
  font-family: var(--font-primary);
  font-size: 3rem;
}

.services {
  width: 100%;
  padding-top: 8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.services > h3 {
  font-family: var(--font-primary);
  font-size: 1.5rem;
}

.services > h2 {
  font-family: var(--font-primary);
  font-size: 3rem;
}

.services > h2 > span {
  color: var(--color-secondary);
}

.services > p {
  max-width: 40rem;
  text-align: center;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.services__card {
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  border-radius: 0.75rem;
  box-shadow: 0 0 1rem 0.125rem var(--shadow-primary);

  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.services__card:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.services__card__img {
  height: 24rem;
  width: 100%;
}

.services__card__img > img {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  object-fit: cover;
}

.services__card__content {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.services__card__content > h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.services__card__content > p {
  max-width: 24rem;
  text-align: center;
}

.services__card__content > button {
  margin-top: 2rem;
  text-transform: uppercase;
}

footer {
  width: 100%;
  padding: 6rem 4rem;
  margin-top: 8rem;

  display: flex;
  justify-content: space-between;

  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.footer__logo {
  font-size: 3rem;
  font-weight: 800;
}

.footer__details {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.footer__detail > h2 {
  margin-bottom: 1rem;
}

.footer__detail > p {
  margin-bottom: 0.5rem;
}
